.watch-form__tab {
    color: #333;
    text-decoration: none;
}

.watch-form__tab:not(.active):hover {
    color: #333 !important;
    background-color: #ccc !important;
    text-decoration: none;
    cursor: pointer;
}

.watch-form__tab.active {
    cursor: pointer;
}

.watch-form__preview {
    width: 150px; 
    height: 200px;
    object-fit: cover;
    transition: transform 200ms ease-out;
}

.watch-form__preview:hover {
    transform: scale(1.05);
}

.watch-form__preview-container {
    box-shadow: 2px 2px 2px #eee;
    transition: box-shadow 200ms ease-out;
    overflow: hidden;;
}

.watch-form__preview-container:hover {
    box-shadow: 4px 4px 8px rgb(153, 153, 153);
    cursor: pointer;
}