body {
  box-sizing: border-box;
}

thead th, td {
    padding-left: 30px !important;
    padding-right: 30px !important;
} 

th.sortable {
    cursor: pointer;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}


th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute; 
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}

.required::after {
    content: "*";
    color: #f00;
    padding: 0 5px;
}