body {
  box-sizing: border-box;
}

thead th, td {
    padding-left: 30px !important;
    padding-right: 30px !important;
} 

th.sortable {
    cursor: pointer;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}


th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute; 
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}

.required::after {
    content: "*";
    color: #f00;
    padding: 0 5px;
}

.accordion {
    --bs-accordion-bg: #212529 !important;
    --bs-accordion-color: #fff !important;
    --bs-accordion-btn-color: #fff !important;
    --bs-accordion-active-color: #333 !important;
    --bs-accordion-btn-focus-border-color: #333 !important;
    --bs-accordion-btn-focus-box-shadow: #333 !important;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.sidebar__collapsed {
    transform: translateX(0) !important;
    transition: transform 500ms ease-out;
    z-index: 5;
}

.sidebar__btn {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .sidebar__collapsed {
        position: absolute;
        transform: translateX(-200%) !important;
    }

    .sidebar__opened {
        position: absolute;
        z-index: 15 !important;
        transform: translateX(0%) !important;
    }

    .sidebar__btn {
        display: inline-block !important;
    }
}